<section>
    <div th:fragment="cardLink(id,name,price,description)" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${name}">Card title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${price}">Card subtitle</h6>
            <p class="card-text" th:text="${description}"></p>
            <a th:href="@{/product/{id}(id=${id}, name=${name})}" class="card-link">View</a>
            <a href="#" class="card-link">Buy</a>
        </div>
    </div>
    <div th:fragment="cardImage" class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div th:fragment="cardFeature" class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>